@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import './assets/css/style.css';
/* @import url('https://fonts.cdnfonts.com/css/poppins'); */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '../node_modules/izitoast/dist/css/iziToast.min.css';
/* @import './assets/css/select2.css' */
@import url('https://unpkg.com/leaflet/dist/leaflet.css');
